@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';




.search{
  display: flex;
}

.menu__user{
  display: flex;
}

.logo {
  margin-right: 26px;
}


  // background-color: $green-900;


.menu {
  &__list {
    background-color: $dark-800;
    display: flex;
    align-items: center;
    padding: 17px 0;
    justify-content: flex-start;
  }

  &__item {
    margin-right: 24px;

    &--start {
      margin-right: 43px;
    }

    &--delivery {
      margin-left: auto;
    }
  }

  &__link {
    color: $white;
    font-family: 'Lato',
      sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 15.6px;
    text-transform: uppercase;
  }

  &__icon {
    fill: $white;
    margin-right: 12px;
  }

}

.catalog__button {
  margin-right: 30px;
  display: flex;
  width: 240px;
  height: 50px;
  background-color: $white;
  transition: 0.5s;
  padding: 17px;
  border-radius: 6px;
  font-weight: 600;
  line-height: 1.4;
  font-size: 14px;
  align-items: center;
  color: $green-900;
  fill: $green-900;
  color: #63A60E;

  &:hover {
    background-color: #E0EDCF;
    transition: 0.5s;
  }

  &:active {
    background-color: #E0EDCF;
  }
}


.catalog__item:not(:last-child) {
  margin-right: 20px;
}



.catalog__item--down.catalog__active {
  transform: rotate(180deg);
}

.user__list {
  display: flex;
}

.user__item {
  fill: $white;
  position: relative;

  &:not(:last-child) {
    margin-right: 37px;
  }
}

.user__number {
  background-color: $white;
  position: absolute;
  border-radius: 50px;
  padding: 5px;
  color: $red-900;
  width: 18px;
  height: 18px;
  font-size: 10px;
  top: -5px;
  right: 21px;
  padding: 3px;
}

.search {
  width: 576.50px;
  height: 50px;
  background-color: $white;
  border-radius: 6px;
  display: flex;
  margin-right: 46px;

  &__icon {
    margin: 15px 19px 15px 15px;
  }

  &__input {
    height: 100%;
    width: 368px;
    font-size: 14px;
  }

  &__input::placeholder {
    color: $dark-800;
    font-weight: 400;
    font-size: 14px;
  }

  &__button {
    width: 157px;
    height: 100%;
    background-color: $dark-800;
    transition: 0.5s;
    border-radius: 0px 6px 6px 0px;
    color: $white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
      transition: 0.5s;
    }

  }

}


.top-sales {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  position: relative;

  &__item {
    background-repeat: no-repeat;
    padding-top: 142px;
    min-height: 600px;
  }

  &__inner {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 31px;
    padding: 16px;
    display: inline-block;
    border-radius: 6px;
  }

  &__title {
    display: block;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #4F4F4F;
    margin-bottom: 18px;
    text-transform: uppercase;
    max-width: 840px;
  }

  &__color {
    color: $red-900;
    display: block;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 8px;
    color: $dark-500;
  }

  &__link {
    background-color: #63A60E;
    padding: 13px 27px;
    color: $white;
    font-size: 18px;
    line-height: 23px;
    display: table;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 140px;
  }

}

.slick-arrow {
  position: absolute;
  top: 41%;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
  fill: #505050;
  background-color: $white;
  transition: 0.5s;
  padding: 14px 20px;
  border-radius: 6px;

  &:hover {
    background-color: #E0EDCF;
    transition: 0.5s;
  }

}

.slick-prev {
  left: 47px;
}

.slick-next {
  right: 60px;
}


.advantages {
  margin-bottom: 120px;

  &__inner {
    display: flex;
    max-width: 900px;
    margin: auto;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-right: 48px;
  }

  &__icon {
    fill: #63A60E;
    margin-right: 20px;
  }

  &__block {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22, 4px;
  }

  &__text {
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    color: $dark-500;
    padding: 6px;
  }

}


.product {
  &__old-price {
    color: $silver-600;
    position: relative;
  }

  &__old-price:before {
    content: "";
    border-bottom: 1px solid #C1C1C1;
    position: absolute;
    width: 70%;
    height: 50%;
    transform: rotate(-12deg);
  }

  &__old-price--juice:before {
    content: "";
    border-bottom: 1px solid #C1C1C1;
    position: absolute;
    width: 18%;
    height: 51%;
    transform: rotate(-12deg);
  }


  &__filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }

  &__select-list {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  &__favourite {
    fill: $silver-600;
    display: block;
    margin-left: auto;
  }

  &__cart {
    fill: #ffff;
    background-color: #63A60F;
    padding: 8px;
    border-radius: 3px;
    display: block;
    margin-left: auto;
  }

  &__top {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 44.8px;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__filter-item {
    font-weight: 700;
    font-size: 15px;
    font-style: normal;


    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__button {
    text-transform: uppercase;
    color: #505050;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid #E0EDCF;
    }
  }

  &__wrap {
    display: flex;
  }

  &__wrap--top {
    padding: 12px 12px 0px 12px;
  }

  &__wrap--bottom {
    padding: 0px 12px 12px 12px;
  }

  &__container {
    display: block;
  }

  &__name {
    font-size: 14px;
    line-height: 19.6px;

  }
}

.banner {
  display: flex;
  margin-bottom: 72px;

  &__card {
    display: block;
    background-repeat: no-repeat;
    text-transform: uppercase;
    padding-left: 35px;
    padding-top: 78px;
    border-radius: 6px;
  }

  &__card:not(:last-child) {
    margin-right: 27px;
  }

  &__card--first {
    min-width: 630px;
    min-height: 300px;
    color: #fff;
  }

  &__card--second {
    min-width: 300px;
    min-height: 300px;
    color: #505050;
  }


  &__card--third {
    min-width: 300px;
    min-height: 300px;
    color: #505050;
  }

  &__title {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1px;

  }

  &__tagline {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #505050;
  }
}

.banner__tagline--firsr {
  max-width: 390px;
}

.banner__tagline--second {
  max-width: 185px;
}

.banner__link--first {
  color: #fff;

}